# <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Car Price Prediction EDA</p>
## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Handling with Missing Values</p>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from scipy.stats.mstats import winsorize

%matplotlib inline

import warnings 
# Avoiding the warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")


# Environment Settings:
plt.rcParams["figure.figsize"] = (10,6)
sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# Set it to None to display all columns in the dataframe
pd.set_option('display.max_columns', None)

# Set it None to display all rows in the dataframe
pd.set_option('display.max_rows', 1000)

In [2]:
df = pd.read_csv("scout_car_cleaned.csv")

df.head(2).T

,0,1
make_model,Audi A1,Audi A1
body_type,Sedans,Sedans
price,15770,14500
vat,VAT deductible,Price negotiable
km,56013.000,80000.000
type,Used,Used
previous_owners,2.000,NaN
body_color,Black,Red
paint_type,Metallic,NaN
number_of_doors,5.000,3.000
number_of_seats,5.000,4.000
gearing_type,Automatic,Automatic
drive_chain,front,front
emission_class,Euro 6,Euro 6
gears,NaN,7.000
vehicle_age,3.000,2.000
hp_kW,66.000,141.000
warranty_month,NaN,NaN
upholstery_type,Cloth,Cloth
upholstery_color,Black,Grey
displacement_cc,1422.000,1798.000
cylinders,3.000,4.000
weight_kg,1220.000,1255.000
fuel,Diesel,Benzine
consumption_comb_l,3.800,5.600
CO2_emission_g,99.000,129.000
comfort_convenience,"Air conditioning,Armrest,Automatic climate con...","Air conditioning,Automatic climate control,Hil..."
entertainment_media,"Bluetooth,Hands-free equipment,On-board comput...","Bluetooth,Hands-free equipment,On-board comput..."
extras,"Alloy wheels,Catalytic Converter,Voice Control","Alloy wheels,Sport seats,Sport suspension,Voic..."
safety_security,"ABS,Central door lock,Daytime running lights,D...","ABS,Central door lock,Central door lock with r..."

In [3]:
print("The number of rows: ", df.shape[0])
print("The number of features in the cleaned data: ", df.shape[1])

The number of rows:  15919
The number of features in the cleaned data:  30

In [4]:
print("The percentages of null values in the columns: ")
df.isnull().sum() / df.shape[0] * 100

The percentages of null values in the columns:

make_model             0.000
body_type              0.377
price                  0.000
vat                   28.350
km                     6.433
type                   0.013
previous_owners       41.711
body_color             3.750
paint_type            36.259
number_of_doors        1.332
number_of_seats        6.137
gearing_type           0.000
drive_chain           43.081
emission_class        22.790
gears                 29.600
vehicle_age           10.032
hp_kW                  0.553
warranty_month        69.514
upholstery_type       30.599
upholstery_color      31.547
displacement_cc        3.116
cylinders             35.681
weight_kg             43.809
fuel                   0.000
consumption_comb_l    11.973
CO2_emission_g        15.302
comfort_convenience    5.779
entertainment_media    8.631
extras                18.607
safety_security        6.169
dtype: float64

In [5]:
cols_with_nulls = []

[cols_with_nulls.append(i) for i in df.columns if any(df[i].isnull())]

cols_with_nulls

['body_type',
 'vat',
 'km',
 'type',
 'previous_owners',
 'body_color',
 'paint_type',
 'number_of_doors',
 'number_of_seats',
 'drive_chain',
 'emission_class',
 'gears',
 'vehicle_age',
 'hp_kW',
 'warranty_month',
 'upholstery_type',
 'upholstery_color',
 'displacement_cc',
 'cylinders',
 'weight_kg',
 'consumption_comb_l',
 'CO2_emission_g',
 'comfort_convenience',
 'entertainment_media',
 'extras',
 'safety_security']

In [6]:
# The function that states the general info of the columns (was used in data cleaning file)

def column_overview(col):
    print("column name    : ", col)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col].isnull().sum()/df.shape[0]*100, 2))
    print("num_of_nulls   : ", df[col].isnull().sum())
    print("num_of_uniques : ", df[col].nunique())
    print(df[col].value_counts(dropna = False))

# Investigating and Filling Columns One by One

## Step 1: Filling numeric columns

In [7]:
df[cols_with_nulls].select_dtypes(include=[np.float])

,km,previous_owners,number_of_doors,number_of_seats,gears,vehicle_age,hp_kW,warranty_month,displacement_cc,cylinders,weight_kg,consumption_comb_l,CO2_emission_g
0,56013.000,2.000,5.000,5.000,NaN,3.000,66.000,NaN,1422.000,3.000,1220.000,3.800,99.000
1,80000.000,NaN,3.000,4.000,7.000,2.000,141.000,NaN,1798.000,4.000,1255.000,5.600,129.000
2,83450.000,1.000,4.000,4.000,NaN,3.000,85.000,NaN,1598.000,NaN,NaN,3.800,99.000
3,73000.000,1.000,3.000,4.000,6.000,3.000,66.000,NaN,1422.000,3.000,1195.000,3.800,99.000
4,16200.000,1.000,5.000,5.000,NaN,3.000,66.000,NaN,1422.000,3.000,NaN,4.100,109.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,NaN,NaN,5.000,5.000,6.000,NaN,147.000,24.000,1997.000,4.000,1758.000,5.300,139.000
15915,9900.000,1.000,5.000,5.000,7.000,0.000,165.000,NaN,1798.000,4.000,1708.000,7.400,168.000
15916,15.000,1.000,5.000,7.000,6.000,0.000,146.000,NaN,1997.000,4.000,NaN,5.300,139.000
15917,10.000,NaN,5.000,7.000,6.000,0.000,147.000,NaN,1997.000,4.000,1758.000,5.300,139.000
15918,NaN,1.000,5.000,5.000,NaN,0.000,165.000,NaN,1798.000,4.000,1685.000,6.800,153.000

In [8]:
numeric_cols = df[cols_with_nulls].select_dtypes(include=[np.float]).columns
numeric_cols

Index(['km', 'previous_owners', 'number_of_doors', 'number_of_seats', 'gears',
       'vehicle_age', 'hp_kW', 'warranty_month', 'displacement_cc',
       'cylinders', 'weight_kg', 'consumption_comb_l', 'CO2_emission_g'],
      dtype='object')

## vehicle_age

In [9]:
column_overview("vehicle_age")

column name    :  vehicle_age
--------------------------------
per_of_nulls   :  % 10.03
num_of_nulls   :  1597
num_of_uniques :  4
1.000    4522
3.000    3674
2.000    3273
0.000    2853
NaN      1597
Name: vehicle_age, dtype: int64

In [17]:
df["vehicle_age"].fillna('-', inplace=True)

In [18]:
df["vehicle_age"].value_counts(dropna=False)

1.0    4522
3.0    3674
2.0    3273
0.0    2853
-      1597
Name: vehicle_age, dtype: int64

In [19]:
df.groupby("vehicle_age")["km"].describe()

,count,mean,std,min,25%,50%,75%,max
vehicle_age,,,,,,,,
0.0,2706.000,2085.355,5365.881,1.000,10.000,50.000,3000.000,127022.000
1.0,4484.000,18035.239,11052.524,1.000,9990.000,17872.000,25078.500,136000.000
2.0,3272.000,41754.941,28295.748,1.000,21541.750,34752.000,54805.500,317000.000
3.0,3674.000,77442.521,39170.143,10.000,48000.000,72914.500,99950.000,291800.000
-,759.000,934.497,7416.244,0.000,5.000,10.000,10.000,89982.000

In [36]:
s = df[df["vehicle_age"] == '-']["km"].value_counts(dropna=False).sort_index(ascending=False, na_position='first')
s

NaN          838
89982.000      1
89692.000      1
85000.000      1
81800.000      1
68485.000      1
39962.000      2
34164.000      1
32084.000      1
22627.000      2
20768.000      1
19500.000      1
11200.000      1
11000.000      1
6100.000       1
5000.000       1
4500.000       1
4307.000       1
3500.000       1
3000.000       2
784.000        1
500.000        1
497.000        1
325.000        1
281.000        1
250.000        3
196.000        1
150.000        1
142.000        1
141.000        1
100.000        8
99.000         1
77.000         1
60.000         1
50.000        10
40.000         1
30.000         3
25.000         3
20.000        32
15.000        21
12.000         8
11.000        12
10.000       369
9.000          4
8.000         11
7.000          7
6.000          1
5.000         58
4.000          3
3.000          4
2.000          2
1.000        146
0.000         19
Name: km, dtype: int64

In [52]:
df["km"].describe()

count    14895.000
mean     34130.128
std      37352.978
min          0.000
25%       5153.000
50%      22740.000
75%      49371.500
max     317000.000
Name: km, dtype: float64

In [54]:
# Creating conditions to fill "vehicle_age" using the "km" information

below_10k = (df["km"] < 10000)
_10k_to_30k = ((df["km"] >= 10000) & (df["km"] < 30000))
_30k_to_50k = ((df["km"] >= 30000) & (df["km"] < 50000))
above_50k = (df["km"] >= 50000)

In [55]:
df.loc[below_10k,"vehicle_age"] = df.loc[below_10k,"vehicle_age"].replace('-', 0)
df.loc[_10k_to_30k,"vehicle_age"] = df.loc[_10k_to_30k,"vehicle_age"].replace('-', 1)
df.loc[_30k_to_50k,"vehicle_age"] = df.loc[_30k_to_50k,"vehicle_age"].replace('-', 2)
df.loc[above_50k,"vehicle_age"] = df.loc[above_50k,"vehicle_age"].replace('-', 3)

In [58]:
df.groupby("vehicle_age")["km"].mean()

vehicle_age
0.0    1647.363
1.0   18035.130
2.0   41748.577
3.0   77450.063
-           NaN
Name: km, dtype: float64

In [59]:
df["vehicle_age"].value_counts(dropna=False)

1.0    4528
3.0    3679
0.0    3597
2.0    3277
-       838
Name: vehicle_age, dtype: int64

In [64]:
df.groupby(["make_model", "vehicle_age"])["km"].describe()

                             count      mean       std       min       25%  \
make_model     vehicle_age
Audi A1        0.0         569.000  2103.459  3258.850     0.000    10.000
               1.0         744.000 13806.144  7975.693     1.000  7466.750
               2.0         432.000 25821.713 18608.364    10.000 14252.500
               3.0         629.000 54332.286 26281.269  3150.000 34914.000
               -             0.000       NaN       NaN       NaN       NaN
Audi A2        1.0           1.000 26166.000       NaN 26166.000 26166.000
Audi A3        0.0         671.000  1517.817  6548.643     0.000    10.000
               1.0         776.000 18410.524 11054.420     1.000 11200.000
               2.0         675.000 43853.141 27349.704    15.000 25000.000
               3.0         818.000 90092.983 36464.156    35.000 62863.250
               -             0.000       NaN       NaN       NaN       NaN
Opel Astra     0.0         541.000  2351.275  5103.476     0.000    10.000
               1.0         721.000 21442.709 10900.190     5.000 14000.000
               2.0         587.000 49981.779 31163.248    30.000 25201.500
               3.0         521.000 89086.697 42021.315 10027.000 58021.000
               -             0.000       NaN       NaN       NaN       NaN
Opel Corsa     0.0         647.000   913.544  3591.394     0.000    10.000
               1.0         684.000 17431.599 11739.606     5.000  8381.250
               2.0         386.000 39942.383 25855.345    99.000 21075.000
               3.0         430.000 62947.974 36418.878  1800.000 34803.750
               -             0.000       NaN       NaN       NaN       NaN
Opel Insignia  0.0         435.000  2419.908  4165.213     0.000    10.000
               1.0         767.000 22179.207  8486.335     1.000 16217.500
               2.0         589.000 47732.104 32834.328     1.000 22561.000
               3.0         568.000 93182.342 41020.814 10791.000 63000.000
               -             0.000       NaN       NaN       NaN       NaN
Renault Clio   0.0         332.000   581.717  5865.375     0.000     9.750
               1.0         564.000 15396.518 13314.804     1.000  5296.250
               2.0         437.000 36660.153 21098.396    20.000 23000.000
               3.0         413.000 68615.436 35580.167    10.000 42208.000
               -             0.000       NaN       NaN       NaN       NaN
Renault Duster 0.0          16.000   101.000     0.000   101.000   101.000
               -             0.000       NaN       NaN       NaN       NaN
Renault Espace 0.0         239.000  1496.105  3501.074     0.000    10.000
               1.0         233.000 14226.330 11099.269     1.000  5250.000
               2.0         170.000 41886.635 27216.915     1.000 22313.750
               3.0         300.000 74400.567 34189.093  3532.000 49975.000
               -             0.000       NaN       NaN       NaN       NaN

                                 50%        75%        max
make_model     vehicle_age
Audi A1        0.0           100.000   3333.000  18000.000
               1.0         12413.000  20309.750  47000.000
               2.0         20730.500  32028.750 148257.000
               3.0         50000.000  65500.000 192000.000
               -                 NaN        NaN        NaN
Audi A2        1.0         26166.000  26166.000  26166.000
Audi A3        0.0            10.000    100.000 127022.000
               1.0         18000.000  24215.000 136000.000
               2.0         36677.000  55251.000 158000.000
               3.0         88000.000 112562.500 291800.000
               -                 NaN        NaN        NaN
Opel Astra     0.0            50.000   3698.000  88000.000
               1.0         22000.000  28466.000  67500.000
               2.0         44179.000  69188.000 188000.000
               3.0         84900.000 112388.000 260000.000
               -                 NaN        NaN        NaN
Opel Corsa     0.0            10.000    100.000  76300.000
               1.0         16617.000  24500.000  70000.000
               2.0         39905.500  54679.250 317000.000
               3.0         55484.000  90000.000 179521.000
               -                 NaN        NaN        NaN
Opel Insignia  0.0            77.000   3995.000  37500.000
               1.0         23928.000  28460.000  70670.000
               2.0         33900.000  77125.000 180033.000
               3.0         88808.500 117500.000 232000.000
               -                 NaN        NaN        NaN
Renault Clio   0.0            10.000     50.000 105000.000
               1.0         13685.000  23308.000 113392.000
               2.0         32713.000  46000.000 131494.000
               3.0         63404.000  92000.000 163500.000
               -                 NaN        NaN        NaN
Renault Duster 0.0           101.000    101.000    101.000
               -                 NaN        NaN        NaN
Renault Espace 0.0            15.000   1000.000  19900.000
               1.0         13625.000  20900.000  62860.000
               2.0         41115.500  49606.000 240000.000
               3.0         68766.000  95000.000 197414.000
               -                 NaN        NaN        NaN

In [65]:
df.groupby(["make_model", "body_type", "vehicle_age"])["price"].describe()

                                           count      mean       std  \
make_model     body_type     vehicle_age
Audi A1        Compact       0.0         198.000 23277.434  3510.406
                             1.0         268.000 18596.041  2659.910
                             2.0         161.000 16602.807  2085.384
                             3.0         234.000 14532.910  1908.909
                             -           178.000 23996.264  3383.852
               Coupe         2.0           1.000 15900.000       NaN
                             3.0           1.000 13950.000       NaN
               Other         0.0           8.000 23826.250  2057.439
                             1.0           3.000 16796.667   178.979
                             2.0           1.000 23490.000       NaN
                             -             1.000 21850.000       NaN
               Sedans        0.0         368.000 24158.087  3196.985
                             1.0         465.000 18394.938  2588.159
                             2.0         266.000 16605.395  2223.979
                             3.0         389.000 14466.900  1890.278
                             -            50.000 23336.560  3815.326
               Station wagon 0.0           2.000 28944.500    77.075
                             1.0          11.000 17410.909  2166.031
                             2.0           3.000 17613.333  2953.817
                             3.0           5.000 14358.000  1276.891
               Van           0.0           1.000 29000.000       NaN
Audi A2        Off-Road      1.0           1.000 28200.000       NaN
Audi A3        Compact       0.0          17.000 29345.471  8767.065
                             1.0          29.000 22030.931  4270.469
                             2.0          39.000 20489.769  8208.445
                             3.0          93.000 15303.796  2256.723
                             -             4.000 25582.500  1185.109
               Convertible   1.0           3.000 29664.333 23557.901
                             2.0           4.000 28562.500  5301.159
                             3.0           1.000 20000.000       NaN
               Coupe         2.0           1.000 19000.000       NaN
                             3.0           3.000 17326.667   583.124
               Other         1.0           4.000 23422.500  3548.055
                             2.0           4.000 18675.000  1351.851
                             3.0           5.000 15970.000  2392.070
                             -             3.000 25990.000  1322.876
               Sedans        0.0         626.000 24909.898  2354.990
                             1.0         709.000 22544.715  5224.410
                             2.0         550.000 19980.358  3721.376
                             3.0         647.000 16702.832  2900.228
                             -            66.000 24395.242  2372.569
               Station wagon 0.0          69.000 25219.000  5011.257
                             1.0          32.000 21252.594  3201.415
                             2.0          72.000 19010.875  1522.622
                             3.0          67.000 15739.507  1883.567
                             -            42.000 23558.667  1687.726
Opel Astra     Compact       0.0          51.000 23056.118  7391.480
                             1.0          39.000 14717.538  1266.385
                             2.0          55.000 13091.491  1884.243
                             3.0          30.000 12023.733  2767.419
                             -            10.000 16636.600  1098.445
               Coupe         0.0           1.000 29990.000       NaN
                             3.0           1.000 14490.000       NaN
               Off-Road      1.0           1.000 18590.000       NaN
               Other         0.0           9.000 17175.000  1225.566
                             1.0          35.000 14681.429   554.644
                             2.0          11.000 12059.545  1462.304
                             3.0          12.000 10652.417  2438.981
               Sedans        0.0         260.000 20528.096  4601.490
                             1.0         320.000 15682.544  1794.249
                             2.0         249.000 12954.040  2080.899
                             3.0         150.000 11899.480  2304.464
                             -            74.000 19500.405  3467.240
               Station wagon 0.0         237.000 22624.730  5168.016
                             1.0         332.000 16882.630  1943.277
                             2.0         269.000 13093.089  2017.233
                             3.0         325.000 11047.557  2526.506
                             -            48.000 21232.875  4266.954
Opel Corsa     Compact       0.0         476.000 13758.405  2637.068
                             1.0         353.000 11913.510  2098.742
                             2.0         158.000  9683.411  1782.282
                             3.0         213.000  8426.765  2065.760
                             -            30.000 14188.367  3126.629
               Coupe         0.0           3.000 10283.333  1286.792
                             2.0           5.000  8718.000  1356.695
                             3.0           5.000  7920.000  1478.851
               Off-Road      2.0           3.000  8166.667   461.880
               Other         0.0          13.000 10728.923  3386.983
                             1.0          49.000  9706.837  1414.526
                             2.0          19.000  8667.895   202.281
                             3.0           4.000  9054.750  1463.729
                             -             2.000 16600.000   919.239
               Sedans        0.0         176.000 12949.898  2584.623
                             1.0         281.000 10814.836  1985.520
                             2.0         199.000  9000.975  1513.124
                             3.0         203.000  7985.808  1449.380
                             -            16.000 12474.688  2733.915
               Transporter   0.0           3.000  9933.333   493.288
                             2.0           1.000  7450.000       NaN
                             3.0           3.000  5433.333   175.594
               Van           3.0           2.000  7900.000     0.000
Opel Insignia  Compact       0.0          16.000 35747.625  6580.219
                             1.0           2.000 20400.000   707.107
                             2.0           4.000 17545.000  3341.262
                             3.0           4.000 12375.000  2373.640
                             -             1.000 39490.000       NaN
               Coupe         2.0           1.000 17094.000       NaN
               Off-Road      0.0           2.000 30995.000  3528.463
                             3.0           1.000 12750.000       NaN
                             -             4.000 32854.750  1387.646
               Other         0.0           7.000 28008.429  4775.491
                             1.0           7.000 20850.714  2277.232
                             2.0          31.000 15860.968  2564.308
                             3.0           3.000 14063.333  1314.927
               Sedans        0.0         138.000 33401.674  4882.201
                             1.0         278.000 20368.583  2439.116
                             2.0         245.000 16575.776  3254.280
                             3.0         126.000 13411.048  2251.593
                             -           113.000 27560.788  5192.396
               Station wagon 0.0         287.000 33783.021  4561.027
                             1.0         480.000 21973.621  1654.916
                             2.0         305.000 17493.898  2614.542
                             3.0         434.000 13673.684  2165.299
                             -           105.000 30336.314  5340.690
               Van           1.0           1.000 20980.000       NaN
Renault Clio   Compact       0.0         158.000 11845.614  2823.449
                             1.0         134.000 15835.754  4597.178
                             2.0          86.000 12484.372  3428.348
                             3.0          87.000  9549.011  2732.518
                             -            19.000 11810.789  2079.485
               Coupe         2.0           1.000 17990.000       NaN
               Off-Road      0.0           1.000 17990.000       NaN
                             3.0           1.000  7700.000       NaN
               Other         0.0          18.000 10558.889   723.113
                             1.0          20.000 14979.550  2051.507
                             2.0           7.000 10170.000  2794.363
                             3.0           6.000  9426.000  2834.963
               Sedans        0.0         149.000 11976.403  3434.890
                             1.0         308.000 15270.649  5487.220
                             2.0         230.000 10121.900  2536.429
                             3.0         209.000  9348.115  2769.832
                             -            22.000 11390.273  2224.604
               Station wagon 0.0          35.000 12717.371  3518.044
                             1.0          98.000 11924.622  2977.329
                             2.0          99.000 11288.848  2708.793
                             3.0          97.000  9437.845  2481.119
                             -             8.000 12870.500  2466.880
               Transporter   0.0           3.000  9661.333   691.666
                             1.0           6.000 10058.500   761.313
                             2.0           9.000  8415.556   839.674
                             3.0          11.000  7376.364   876.838
               Van           1.0           1.000  9900.000       NaN
                             2.0           1.000  9400.000       NaN
Renault Duster Off-Road      0.0          16.000 13343.000  1625.593
                             -            18.000 13129.889  1659.899
Renault Espace Compact       0.0           3.000 38830.000  4855.070
                             2.0           1.000 23990.000       NaN
                             3.0           2.000 19900.000  2828.427
               Coupe         0.0           1.000 34140.000       NaN
                             1.0           1.000 26994.000       NaN
               Off-Road      1.0           2.000 27850.000     0.000
                             2.0           5.000 27100.000  4103.657
                             3.0           1.000 14900.000       NaN
               Other         0.0           1.000 42681.000       NaN
                             1.0           2.000 34000.000     0.000
                             2.0           2.000 24900.000  4242.641
                             3.0           3.000 25463.333  7713.497
               Sedans        0.0           1.000 48498.000       NaN
                             1.0          13.000 29090.462  3321.812
                             2.0           3.000 23863.333   109.697
                             3.0           2.000 22449.500  4879.744
                             -             2.000 43969.000  4137.989
               Station wagon 0.0           9.000 43642.222  4066.795
                             1.0          14.000 34301.429  3864.125
                             2.0          13.000 27046.846  5245.900
                             3.0          52.000 21626.827  2862.987
                             -             3.000 45476.667  4746.634
               Transporter   0.0           1.000 32700.000       NaN
                             1.0           5.000 29297.800  1306.587
                             2.0           9.000 23861.000  3464.582
                             3.0          37.000 21124.297  3279.229
               Van           0.0         218.000 40074.514  8154.729
                             1.0         207.000 31947.841  4072.970
                             2.0         134.000 26574.478  3427.863
                             3.0         199.000 22132.623  3216.032
                             -            19.000 39632.316  6866.139

                                               min       25%       50%  \
make_model     body_type     vehicle_age
Audi A1        Compact       0.0         14900.000 20503.500 22492.000
                             1.0         13980.000 16445.000 16980.000
                             2.0         10999.000 15450.000 15850.000
                             3.0          9950.000 13407.500 13994.500
                             -           16220.000 21515.000 22875.000
               Coupe         2.0         15900.000 15900.000 15900.000
                             3.0         13950.000 13950.000 13950.000
               Other         0.0         21490.000 22490.000 22720.000
                             1.0         16590.000 16745.000 16900.000
                             2.0         23490.000 23490.000 23490.000
                             -           21850.000 21850.000 21850.000
               Sedans        0.0         15990.000 21797.500 23800.000
                             1.0         13450.000 16321.000 16950.000
                             2.0         11600.000 14955.000 15900.000
                             3.0          8999.000 13000.000 13950.000
                             -           15980.000 20982.500 22345.000
               Station wagon 0.0         28890.000 28917.250 28944.500
                             1.0         15750.000 15870.000 16480.000
                             2.0         14750.000 16095.000 17440.000
                             3.0         12950.000 13979.000 13999.000
               Van           0.0         29000.000 29000.000 29000.000
Audi A2        Off-Road      1.0         28200.000 28200.000 28200.000
Audi A3        Compact       0.0         15500.000 22300.000 24900.000
                             1.0         14500.000 19999.000 21900.000
                             2.0         13790.000 17525.000 18945.000
                             3.0         12900.000 13500.000 14900.000
                             -           24542.000 25056.500 25250.000
               Convertible   1.0         10893.000 16446.500 22000.000
                             2.0         20900.000 27350.000 30200.000
                             3.0         20000.000 20000.000 20000.000
               Coupe         2.0         19000.000 19000.000 19000.000
                             3.0         16990.000 16990.000 16990.000
               Other         1.0         20200.000 21925.000 22500.000
                             2.0         17650.000 17650.000 18275.000
                             3.0         12550.000 15300.000 15500.000
                             -           24490.000 25490.000 26490.000
               Sedans        0.0         18820.000 23885.000 24900.000
                             1.0         14250.000 20800.000 21500.000
                             2.0         10550.000 18000.000 19400.000
                             3.0         10950.000 15110.000 15980.000
                             -           19750.000 22944.750 23947.500
               Station wagon 0.0         17990.000 23490.000 24980.000
                             1.0          5555.000 20650.000 21480.000
                             2.0         14590.000 18374.500 18990.000
                             3.0         11790.000 14195.000 15900.000
                             -           18980.000 22359.750 23590.000
Opel Astra     Compact       0.0         16500.000 17490.000 18300.000
                             1.0         11999.000 13990.000 14900.000
                             2.0          9999.000 11955.000 12636.000
                             3.0          8450.000 10111.250 10947.500
                             -           15816.000 15890.000 16159.000
               Coupe         0.0         29990.000 29990.000 29990.000
                             3.0         14490.000 14490.000 14490.000
               Off-Road      1.0         18590.000 18590.000 18590.000
               Other         0.0         15490.000 16390.000 17390.000
                             1.0         12900.000 14495.000 14890.000
                             2.0         10040.000 11250.000 11950.000
                             3.0          8490.000  9367.250  9490.000
               Sedans        0.0          6950.000 17585.000 18665.000
                             1.0          8860.000 14537.250 15275.000
                             2.0          7800.000 11320.000 12500.000
                             3.0          6500.000 10400.000 10950.000
                             -           13929.000 16977.000 18354.000
               Station wagon 0.0         15285.000 18096.000 19990.000
                             1.0           255.000 15200.000 17355.000
                             2.0          8480.000 11850.000 12660.000
                             3.0          6000.000  9479.000 10500.000
                             -           15445.000 18040.500 20240.000
Opel Corsa     Compact       0.0           120.000 10979.000 14650.000
                             1.0          7499.000  9800.000 12750.000
                             2.0          6250.000  8500.000  8950.000
                             3.0          4990.000  7290.000  7750.000
                             -            9245.000 10785.000 15980.000
               Coupe         0.0          8800.000  9875.000 10950.000
                             2.0          7500.000  7900.000  8500.000
                             3.0          6900.000  7200.000  7200.000
               Off-Road      2.0          7900.000  7900.000  7900.000
               Other         0.0           331.000 10990.000 10990.000
                             1.0          8490.000  8900.000  9500.000
                             2.0          8500.000  8500.000  8500.000
                             3.0          7900.000  7900.000  8685.000
                             -           15950.000 16275.000 16600.000
               Sedans        0.0          8200.000 10990.000 11390.000
                             1.0            13.000  9499.000  9900.000
                             2.0          6200.000  8299.000  8600.000
                             3.0          4950.000  7400.000  7650.000
                             -            9990.000 10867.500 11120.000
               Transporter   0.0          9600.000  9650.000  9700.000
                             2.0          7450.000  7450.000  7450.000
                             3.0          5250.000  5350.000  5450.000
               Van           3.0          7900.000  7900.000  7900.000
Opel Insignia  Compact       0.0         21900.000 34495.000 36345.000
                             1.0         19900.000 20150.000 20400.000
                             2.0         13490.000 15740.000 17695.000
                             3.0         10350.000 10350.000 12125.000
                             -           39490.000 39490.000 39490.000
               Coupe         2.0         17094.000 17094.000 17094.000
               Off-Road      0.0         28500.000 29747.500 30995.000
                             3.0         12750.000 12750.000 12750.000
                             -           31505.000 32135.000 32569.000
               Other         0.0         24700.000 24940.000 26500.000
                             1.0         18480.000 19350.000 19900.000
                             2.0         10600.000 13800.000 16900.000
                             3.0         12900.000 13350.000 13800.000
               Sedans        0.0         22120.000 29912.500 33120.000
                             1.0         15990.000 18990.000 19995.000
                             2.0          9900.000 13540.000 17750.000

In [66]:
df["vehicle_age"].replace('-', 0, inplace=True)

In [67]:
df.groupby("vehicle_age")["km"].mean()

vehicle_age
0.000    1647.363
1.000   18035.130
2.000   41748.577
3.000   77450.063
Name: km, dtype: float64

In [73]:
# Check after filling the missing values

column_overview("vehicle_age")

column name    :  vehicle_age
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  4
1.000    4528
0.000    4435
3.000    3679
2.000    3277
Name: vehicle_age, dtype: int64

## km

In [69]:
column_overview("km")

column name    :  km
--------------------------------
per_of_nulls   :  % 6.43
num_of_nulls   :  1024
num_of_uniques :  6689
10.000       1045
NaN          1024
1.000         367
5.000         170
50.000        148
             ...
67469.000       1
43197.000       1
10027.000       1
35882.000       1
57.000          1
Name: km, Length: 6690, dtype: int64

In [70]:
df.groupby("vehicle_age")["km"].mean()

vehicle_age
0.000    1647.363
1.000   18035.130
2.000   41748.577
3.000   77450.063
Name: km, dtype: float64

In [76]:
df.groupby("vehicle_age")["km"].transform("mean").value_counts(dropna=False)

18035.130    4528
1647.363     4435
77450.063    3679
41748.577    3277
Name: km, dtype: int64